@charset "utf-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

.hide {
  display: none; }

.show {
  display: block; }

.invisible {
  visibility: hidden; }

.visible {
  visibility: visible; }

.reset-indents {
  padding: 0;
  margin: 0; }

.reset-font {
  line-height: 0;
  font-size: 0; }

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0; }
  .clearfix:after {
    clear: both; }

.clear {
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0; }

.clear-self::after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ''; }

.thumb, .YMaps, .ymaps-map {
  color: #000; }

.table {
  display: table; }
  .table .tr {
    display: table-row; }
    .table .tr .td {
      display: table-cell; }

.table0, .table1, .table2 {
  border-collapse: collapse; }
  .table0 td, .table1 td, .table2 td {
    padding: 0.5em; }

.table1, .table2 {
  border: 1px solid #afafaf; }
  .table1 td, .table2 td, .table1 th, .table2 th {
    border: 1px solid #afafaf; }

.table2 th {
  padding: 0.5em;
  color: #fff;
  background: #f00; }

html, body {
  height: 100%; }

html {
  font-size: 16px; }

body {
  position: relative;
  min-width: 320px;
  text-align: left;
  color: #34383a;
  background: #fff;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  line-height: 1.25; }

a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
  cursor: default; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  font-style: normal; }

h1 {
  margin-top: 0;
  font-size: 20px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

h5, h6 {
  font-weight: bold; }

a {
  text-decoration: underline;
  color: #dc5b3e; }

a:hover {
  text-decoration: none; }

a img {
  border-color: #34383a; }

img, textarea, object, object embed, .table-wrapper {
  max-width: 100%; }

.table-wrapper {
  overflow: auto; }

img {
  height: auto; }

table img {
  max-width: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.site-path {
  margin-bottom: 10px;
  white-space: pre-wrap;
  line-height: 1;
  font-size: 14px;
  color: #c0c0c0; }

.site-header a img, .site-sidebar a img, .site-footer a img {
  border: none; }

.site-header p, .site-footer p {
  margin: 0; }

.site-sidebar p:first-child {
  margin-top: 0; }
  .site-sidebar p:last-child {
    border-bottom: 0; }

.pudgeJS-overlay {
  z-index: 101 !important;
  background-color: rgba(0, 0, 0, .5); }

.overflowHidden {
  overflow: hidden; }

.userSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.noUi-target, .noUi-target * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: none; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%; }

.noUi-origin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.noUi-handle {
  position: relative;
  z-index: 1; }

.noUi-stacking .noUi-handle {
  z-index: 10; }

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

.noUi-base {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.noUi-horizontal {
  height: 18px; }

.noUi-dragable {
  cursor: w-resize; }

.noUi-vertical .noUi-dragable {
  cursor: n-resize; }

[disabled].noUi-connect, [disabled].noUi-connect {
  background: #b8b8b8; }

[disabled] .noUi-handle, [disabled].noUi-origin {
  cursor: not-allowed; }

.noUi-pips, .noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen and (max-width: 420px) {
  input {
    max-width: 270px; } }

.site-wrapper {
  min-height: 100%;
  max-width: 100%;
  margin: auto;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /*.ie & {
   height: 100%;
   }*/ }

.site-header {
  padding-top: 48px;
  min-height: 191px;
  flex: none; }

.top-panel-wr {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 101;
  background-image: linear-gradient(to top, #1b5166 0%, #14d5db 100%);}
  .top-panel-wr .top-panel {
    max-width: 1180px;
    padding: 0 42px;
    margin: 0 auto; }

.regid-block {
  float: left;
  font-size: 0;
  border-left: 1px solid #383838; }
  .regid-block a {
    min-height: 48px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 13px;
    line-height: 45px;
    padding: 0 20px 0 54px;
    text-decoration: none;
    border-right: 1px solid #383838;
    font-family: Tahoma, Verdana, Segoe, sans-serif; }
  .regid-block a::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ''; }
  .regid-block a:hover {
    position: relative;
    color: #fff; }
    .regid-block a:hover::before {
      background: rgba(0, 0, 0, 0.08); }
  .regid-block a.reg-enter {
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2219px%22%20height%3D%2219px%22%20%20viewBox%3D%220%200%2019%2019%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23edf0ee%22%20d%3D%22M12.538%2C12.922%20C11.952%2C12.922%2011.401%2C12.859%2010.893%2C12.733%20L9.856%2C13.850%20C9.722%2C13.993%209.536%2C14.074%209.340%2C14.074%20L8.931%2C14.074%20L8.157%2C14.641%20C8.036%2C14.730%207.890%2C14.778%207.741%2C14.778%20L7.389%2C14.778%20L7.389%2C15.098%20C7.389%2C15.297%207.305%2C15.486%207.157%2C15.620%20L6.239%2C16.450%20C6.126%2C16.552%205.983%2C16.615%205.831%2C16.629%20L5.472%2C16.661%20L5.453%2C17.051%20C5.445%2C17.214%205.380%2C17.370%205.270%2C17.491%20L4.102%2C18.770%20C3.969%2C18.917%203.780%2C19.000%203.582%2C19.000%20L0.704%2C19.000%20C0.315%2C19.000%20-0.000%2C18.685%20-0.000%2C18.296%20L-0.000%2C15.418%20C-0.000%2C15.231%200.074%2C15.052%200.206%2C14.920%20L6.455%2C8.671%20C6.215%2C8.013%206.078%2C7.221%206.078%2C6.461%20C6.078%2C2.899%208.976%2C-0.000%2012.538%2C-0.000%20C16.101%2C-0.000%2019.000%2C2.899%2019.000%2C6.461%20C19.000%2C10.024%2016.101%2C12.922%2012.538%2C12.922%20ZM3.272%2C17.592%20L4.060%2C16.729%20L4.096%2C15.981%20C4.114%2C15.631%204.386%2C15.346%204.736%2C15.315%20L5.470%2C15.248%20L5.981%2C14.785%20L5.981%2C14.074%20C5.981%2C13.685%206.296%2C13.370%206.685%2C13.370%20L7.510%2C13.370%20L8.284%2C12.803%20C8.405%2C12.714%208.550%2C12.666%208.700%2C12.666%20L9.034%2C12.666%20L9.984%2C11.641%20C9.424%2C11.330%208.888%2C10.916%208.544%2C10.551%20L1.503%2C17.592%20L3.272%2C17.592%20ZM12.538%2C1.407%20C9.752%2C1.407%207.485%2C3.674%207.485%2C6.461%20C7.485%2C7.196%207.650%2C7.983%207.916%2C8.516%20C8.049%2C8.784%207.999%2C9.107%207.790%2C9.321%20L7.605%2C9.511%20L1.407%2C15.709%20L1.407%2C16.693%20L8.272%2C9.828%20C8.376%2C9.724%208.527%2C9.699%208.655%2C9.751%20C8.751%2C9.760%208.843%2C9.806%208.904%2C9.890%20C9.183%2C10.270%2010.013%2C10.936%2010.786%2C11.249%20C10.823%2C11.255%2010.861%2C11.256%2010.897%2C11.269%20C11.376%2C11.432%2011.929%2C11.515%2012.538%2C11.515%20C15.325%2C11.515%2017.592%2C9.248%2017.592%2C6.461%20C17.592%2C3.674%2015.325%2C1.407%2012.538%2C1.407%20ZM13.434%2C7.062%20C12.415%2C7.062%2011.586%2C6.233%2011.586%2C5.214%20C11.586%2C4.194%2012.415%2C3.365%2013.434%2C3.365%20C14.454%2C3.365%2015.283%2C4.194%2015.283%2C5.214%20C15.283%2C6.233%2014.454%2C7.062%2013.434%2C7.062%20ZM13.434%2C4.069%20C12.803%2C4.069%2012.289%2C4.582%2012.289%2C5.214%20C12.289%2C5.845%2012.803%2C6.359%2013.434%2C6.359%20C14.066%2C6.359%2014.579%2C5.845%2014.579%2C5.214%20C14.579%2C4.582%2014.066%2C4.069%2013.434%2C4.069%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 20px 15px no-repeat; }
  .regid-block a.reg-link {
    padding-left: 52px;
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2218px%22%20height%3D%2219px%22%20%20viewBox%3D%220%200%2018%2019%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23edf0ee%22%20d%3D%22M17.792%2C16.513%20L17.642%2C16.014%20C17.210%2C14.560%2013.333%2C12.545%2012.763%2C12.291%20C12.073%2C11.984%2011.778%2C11.789%2011.666%2C11.701%20C11.623%2C11.504%2011.592%2C11.273%2011.575%2C11.027%20C11.816%2C10.867%2012.063%2C10.641%2012.266%2C10.300%20C12.331%2C10.191%2012.391%2C10.096%2012.446%2C10.006%20C12.628%2C9.713%2012.790%2C9.454%2012.965%2C9.028%20C13.170%2C8.903%2013.348%2C8.716%2013.469%2C8.490%20C13.884%2C7.712%2014.184%2C6.369%2013.965%2C5.736%20C13.892%2C5.524%2013.762%2C5.351%2013.590%2C5.228%20C13.531%2C3.036%2012.566%2C1.547%2010.735%2C0.806%20C10.393%2C0.652%209.823%2C0.422%209.047%2C0.203%20C8.616%2C0.081%208.314%2C0.035%207.994%2C0.006%20C7.928%2C-0.000%207.860%2C0.004%207.795%2C0.017%20C7.438%2C0.089%207.116%2C0.366%206.976%2C0.720%20C6.974%2C0.727%206.971%2C0.734%206.968%2C0.741%20C6.381%2C0.883%205.841%2C1.234%205.658%2C1.892%20C5.643%2C1.937%205.632%2C1.983%205.626%2C2.030%20C4.854%2C2.895%204.485%2C3.888%204.446%2C5.195%20C4.251%2C5.319%204.105%2C5.502%204.026%2C5.733%20C3.806%2C6.365%204.106%2C7.708%204.521%2C8.486%20C4.652%2C8.730%204.848%2C8.926%205.074%2C9.049%20C5.234%2C9.418%205.398%2C9.661%205.557%2C9.897%20C5.634%2C10.010%205.716%2C10.130%205.803%2C10.276%20C6.020%2C10.641%206.263%2C10.877%206.496%2C11.040%20C6.476%2C11.211%206.451%2C11.398%206.427%2C11.574%20L6.392%2C11.840%20C6.287%2C11.969%205.922%2C12.196%205.611%2C12.325%20C5.564%2C12.344%200.860%2C14.290%200.373%2C16.124%20C0.291%2C16.433%200.031%2C17.304%200.030%2C17.305%20C0.010%2C17.373%20-0.000%2C17.443%20-0.000%2C17.513%20C-0.000%2C18.500%200.683%2C19.000%202.031%2C19.000%20L15.969%2C19.000%20C16.577%2C19.000%2018.000%2C19.000%2018.000%2C17.561%20C18.000%2C17.198%2017.960%2C17.067%2017.792%2C16.513%20ZM6.258%2C8.240%20C6.173%2C8.000%205.972%2C7.828%205.733%2C7.781%20C5.509%2C7.349%205.375%2C6.741%205.343%2C6.409%20C5.454%2C6.375%205.557%2C6.313%205.640%2C6.227%20C5.776%2C6.088%205.849%2C5.896%205.841%2C5.700%20C5.783%2C4.075%206.268%2C3.299%207.015%2C2.634%20C7.160%2C2.505%207.242%2C2.325%207.253%2C2.138%20C7.366%2C2.108%207.506%2C2.089%207.649%2C2.089%20C7.897%2C2.099%208.137%2C1.977%208.272%2C1.758%20C8.322%2C1.678%208.354%2C1.589%208.369%2C1.499%20C8.460%2C1.518%208.561%2C1.543%208.675%2C1.576%20C9.370%2C1.773%209.873%2C1.975%2010.197%2C2.120%20C11.646%2C2.707%2012.262%2C3.812%2012.194%2C5.701%20C12.187%2C5.892%2012.261%2C6.078%2012.389%2C6.217%20C12.460%2C6.294%2012.548%2C6.353%2012.644%2C6.391%20C12.617%2C6.738%2012.480%2C7.359%2012.249%2C7.797%20C12.030%2C7.855%2011.851%2C8.019%2011.771%2C8.239%20C11.601%2C8.709%2011.477%2C8.909%2011.270%2C9.242%20C11.210%2C9.338%2011.146%2C9.441%2011.076%2C9.558%20C10.956%2C9.760%2010.804%2C9.857%2010.582%2C9.956%20C10.327%2C10.070%2010.163%2C10.329%2010.165%2C10.614%20C10.167%2C10.947%2010.193%2C11.587%2010.344%2C12.174%20C10.403%2C12.493%2010.671%2C12.821%2011.513%2C13.264%20L9.007%2C14.616%20L6.788%2C13.313%20C7.234%2C13.038%207.698%2C12.627%207.766%2C12.087%20L7.808%2C11.768%20C7.862%2C11.368%207.918%2C10.954%207.926%2C10.655%20C7.934%2C10.362%207.764%2C10.093%207.499%2C9.979%20C7.289%2C9.889%207.146%2C9.792%206.993%2C9.534%20C6.890%2C9.361%206.794%2C9.220%206.704%2C9.086%20C6.524%2C8.821%206.395%2C8.630%206.258%2C8.240%20ZM15.969%2C17.575%20L2.031%2C17.575%20C1.678%2C17.575%201.505%2C17.549%201.422%2C17.525%20C1.506%2C17.240%201.658%2C16.723%201.718%2C16.497%20C1.870%2C15.923%204.101%2C14.475%206.029%2C13.689%20L8.826%2C15.331%20C8.880%2C15.363%208.940%2C15.379%209.000%2C15.379%20C9.056%2C15.379%209.112%2C15.365%209.163%2C15.337%20L12.304%2C13.643%20C13.868%2C14.362%2016.116%2C15.922%2016.308%2C16.428%20L16.461%2C16.935%20C16.597%2C17.385%2016.605%2C17.412%2016.606%2C17.536%20C16.449%2C17.575%2016.121%2C17.575%2015.969%2C17.575%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 20px 15px no-repeat; }

.top-panel-navigation-button {
  position: relative;
  display: none;
  width: 48px;
  height: 48px;
  background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220px%22%20height%3D%2215px%22%20%20viewBox%3D%220%200%2020%2015%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M19.000%2C14.999%20L1.000%2C14.999%20C0.448%2C14.999%20-0.000%2C14.551%20-0.000%2C13.999%20L-0.000%2C12.999%20C-0.000%2C12.447%200.448%2C11.999%201.000%2C11.999%20L19.000%2C11.999%20C19.552%2C11.999%2020.000%2C12.447%2020.000%2C12.999%20L20.000%2C13.999%20C20.000%2C14.551%2019.552%2C14.999%2019.000%2C14.999%20ZM19.000%2C8.999%20L1.000%2C8.999%20C0.448%2C8.999%20-0.000%2C8.552%20-0.000%2C7.999%20L-0.000%2C6.999%20C-0.000%2C6.447%200.448%2C5.999%201.000%2C5.999%20L19.000%2C5.999%20C19.552%2C5.999%2020.000%2C6.447%2020.000%2C6.999%20L20.000%2C7.999%20C20.000%2C8.552%2019.552%2C8.999%2019.000%2C8.999%20ZM19.000%2C2.999%20L1.000%2C2.999%20C0.448%2C2.999%20-0.000%2C2.552%20-0.000%2C2.000%20L-0.000%2C0.999%20C-0.000%2C0.447%200.448%2C-0.001%201.000%2C-0.001%20L19.000%2C-0.001%20C19.552%2C-0.001%2020.000%2C0.447%2020.000%2C0.999%20L20.000%2C2.000%20C20.000%2C2.552%2019.552%2C2.999%2019.000%2C2.999%20Z%22%2F%3E%3C%2Fsvg%3E') 50% 50% no-repeat; }

.top-panel-search-button {
  float: right;
  opacity: 0;
  margin: 0;
  display: block;
  width: 54px;
  height: 48px;
  background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20%20viewBox%3D%220%200%2016%2016%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M15.533%2C15.533%20C14.947%2C16.119%2013.997%2C16.119%2013.412%2C15.533%20L10.764%2C12.885%20C9.676%2C13.583%208.389%2C14.000%207.000%2C14.000%20C3.134%2C14.000%20-0.000%2C10.866%20-0.000%2C7.000%20C-0.000%2C3.134%203.134%2C-0.000%207.000%2C-0.000%20C10.866%2C-0.000%2014.000%2C3.134%2014.000%2C7.000%20C14.000%2C8.389%2013.583%2C9.675%2012.886%2C10.764%20L15.533%2C13.411%20C16.119%2C13.997%2016.119%2C14.947%2015.533%2C15.533%20ZM7.000%2C2.000%20C4.238%2C2.000%202.000%2C4.238%202.000%2C7.000%20C2.000%2C9.761%204.238%2C12.000%207.000%2C12.000%20C9.761%2C12.000%2012.000%2C9.761%2012.000%2C7.000%20C12.000%2C4.238%209.761%2C2.000%207.000%2C2.000%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 50% 50% no-repeat;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

#shop2-cart-preview {
  float: right;
  position: relative;
  padding: 0 20px 0 57px;
  background: #f77001;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);}
  #shop2-cart-preview::before {
    position: absolute;
    top: 50%;
    left: 20px;
    content: '';
    width: 18px;
    height: 22px;
    margin-top: -11px;
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2218px%22%20height%3D%2222px%22%20%20viewBox%3D%220%200%2018%2022%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M13.699%2C8.819%20C13.956%2C8.903%2014.189%2C9.044%2014.375%2C9.227%20L14.375%2C9.225%20C14.683%2C9.527%2014.877%2C9.944%2014.877%2C10.403%20C14.877%2C10.859%2014.683%2C11.276%2014.375%2C11.577%20L14.373%2C11.579%20C14.065%2C11.880%2013.641%2C12.067%2013.174%2C12.067%20C12.704%2C12.067%2012.277%2C11.880%2011.969%2C11.579%20L11.938%2C11.546%20C11.647%2C11.248%2011.470%2C10.844%2011.470%2C10.403%20C11.470%2C9.944%2011.662%2C9.527%2011.969%2C9.225%20L12.003%2C9.195%20C12.185%2C9.027%2012.403%2C8.898%2012.645%2C8.820%20L12.645%2C7.201%20L5.355%2C7.201%20L5.355%2C8.819%20C5.612%2C8.903%205.842%2C9.044%206.031%2C9.227%20L6.031%2C9.225%20C6.338%2C9.527%206.530%2C9.944%206.530%2C10.403%20C6.530%2C10.859%206.338%2C11.276%206.031%2C11.577%20L6.028%2C11.579%20C5.721%2C11.880%205.295%2C12.067%204.828%2C12.067%20C4.359%2C12.067%203.931%2C11.880%203.624%2C11.579%20L3.592%2C11.546%20C3.303%2C11.248%203.123%2C10.844%203.123%2C10.403%20C3.123%2C9.944%203.316%2C9.527%203.624%2C9.225%20L3.658%2C9.195%20C3.838%2C9.027%204.057%2C8.898%204.299%2C8.820%20L4.299%2C7.201%20L1.757%2C7.201%20L1.757%2C20.282%20L16.241%2C20.282%20L16.241%2C7.201%20L13.699%2C7.201%20L13.699%2C8.819%20L13.699%2C8.819%20ZM12.645%2C5.481%20L12.645%2C4.594%20C12.645%2C3.629%2012.246%2C2.748%2011.603%2C2.105%20L11.575%2C2.079%20C10.913%2C1.433%2010.002%2C1.030%208.999%2C1.030%20C7.997%2C1.030%207.086%2C1.433%206.426%2C2.079%20L6.423%2C2.076%20L6.423%2C2.079%20C5.764%2C2.722%205.355%2C3.615%205.355%2C4.594%20L5.355%2C5.481%20L12.645%2C5.481%20L12.645%2C5.481%20ZM4.299%2C5.481%20L4.299%2C4.594%20C4.299%2C3.333%204.828%2C2.184%205.682%2C1.350%20L5.679%2C1.349%20C6.531%2C0.518%207.707%2C-0.000%208.999%2C-0.000%20C10.293%2C-0.000%2011.468%2C0.518%2012.318%2C1.349%20L12.347%2C1.381%20C13.183%2C2.210%2013.699%2C3.347%2013.699%2C4.594%20L13.699%2C5.481%20L17.120%2C5.481%20C17.605%2C5.481%2018.000%2C5.867%2018.000%2C6.342%20L18.000%2C6.363%20L18.000%2C21.141%20C18.000%2C21.616%2017.605%2C22.000%2017.120%2C22.000%20L17.099%2C22.000%20L0.878%2C22.000%20C0.392%2C22.000%20-0.000%2C21.616%20-0.000%2C21.141%20L-0.000%2C21.119%20L-0.000%2C6.342%20C-0.000%2C5.867%200.392%2C5.481%200.878%2C5.481%20L0.901%2C5.481%20L4.299%2C5.481%20L4.299%2C5.481%20ZM4.848%2C9.770%20L4.826%2C9.770%20L4.807%2C9.770%20C4.645%2C9.774%204.498%2C9.835%204.389%2C9.933%20L4.369%2C9.954%20C4.252%2C10.069%204.180%2C10.228%204.180%2C10.403%20C4.180%2C10.568%204.244%2C10.719%204.348%2C10.830%20L4.369%2C10.851%20C4.486%2C10.965%204.648%2C11.035%204.828%2C11.035%20C5.006%2C11.035%205.170%2C10.965%205.286%2C10.852%20L5.287%2C10.851%20C5.403%2C10.737%205.476%2C10.578%205.476%2C10.403%20C5.476%2C10.228%205.402%2C10.069%205.286%2C9.954%20L5.287%2C9.953%20L5.286%2C9.953%20C5.174%2C9.843%205.019%2C9.774%204.848%2C9.770%20L4.848%2C9.770%20ZM13.193%2C9.770%20L13.171%2C9.770%20L13.152%2C9.770%20C12.992%2C9.774%2012.844%2C9.835%2012.735%2C9.933%20L12.716%2C9.954%20C12.597%2C10.069%2012.524%2C10.228%2012.524%2C10.403%20C12.524%2C10.568%2012.590%2C10.719%2012.694%2C10.830%20L12.716%2C10.851%20C12.832%2C10.965%2012.994%2C11.035%2013.174%2C11.035%20C13.353%2C11.035%2013.515%2C10.965%2013.632%2C10.852%20L13.632%2C10.851%20C13.748%2C10.737%2013.820%2C10.578%2013.820%2C10.403%20C13.820%2C10.228%2013.748%2C10.069%2013.632%2C9.954%20L13.632%2C9.953%20L13.632%2C9.953%20C13.520%2C9.843%2013.365%2C9.774%2013.193%2C9.770%20L13.193%2C9.770%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 0 0 no-repeat; }
  #shop2-cart-preview .cart-preview-count {
    position: absolute;
    top: 6px;
    right: 6px;
    opacity: 0;
    padding: 2px 7px 3px;
    text-align: center;
    font-size: 11px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #fff;
    background: #4e395d;
    -webkit-border-radius : 50%;
    -moz-border-radius : 50%;
    -ms-border-radius : 50%;
    -o-border-radius : 50%;
    border-radius : 50%;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out; }
  #shop2-cart-preview .shop-block {
    vertical-align: middle; }
  #shop2-cart-preview .shop-block .block-body {
    font-size: 13px;
    font-family: Tahoma, Verdana, Segoe, sans-serif; }
    #shop2-cart-preview .shop-block .block-body a {
      display: block;
      min-height: 48px;
      line-height: 48px;
      color: #fff;
      text-decoration: none; }

.header-bot-block {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 42px 32px; }

.site-name {
    color: #d4e918;
}

.logo {
  width: 260px;
  height: 180px;
  background-image: url("/www/img/logo.png");
}

.site-name-wr {
  float: left;
  padding: 35px 0 0; }
  .site-name-wr .logo {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px; }
  @media all and (max-width: 890px) {
    .site-name-wr .logo {
      display: block; } }
  .site-name-wr .site-name-in {
    display: table-cell;
    vertical-align: middle; }
  .site-name-wr .site-name a {
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    font-family: Arial Black, Segoe, sans-serif;
    color: #fa0909; }
  .site-name-wr .site-description {
    font-size: 14px;
    font-family: Segoe, sans-serif;
    color: #474f54; }

.phone-block-wr {
  float: right;
  text-align: right;
  padding-top: 38px; }
  .phone-block-wr .site-phone {
    float: right;
    text-align: left;
    margin-left: 40px; }
  .phone-block-wr .site-phone .s1 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 41px;
    height: 41px;
    background-color: #4e395d;
    -webkit-border-radius : 4px;
    -moz-border-radius : 4px;
    -ms-border-radius : 4px;
    -o-border-radius : 4px;
    border-radius : 4px;
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #4a3658), color-stop(100%, #523c62));
    background-image: -o-linear-gradient(bottom, #4a3658 0%, #523c62 100%);
    background-image: -moz-linear-gradient(bottom, #4a3658 0%, #523c62 100%);
    background-image: -webkit-linear-gradient(bottom, #4a3658 0%, #523c62 100%);
    background-image: -ms-linear-gradient(bottom, #4a3658 0%, #523c62 100%);
    background-image: linear-gradient(to top, #4a3658 0%, #523c62 100%);
    -pie-background: linear-gradient(to top, #4a3658 0%, #523c62 100%); }
    .phone-block-wr .site-phone .s1::before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 19px;
      height: 19px;
      margin: -8px 0 0 -8px;
      background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2218px%22%20height%3D%2222px%22%20%20viewBox%3D%220%200%2018%2022%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23edf0ee%22%20d%3D%22M18.347%2C16.488%20C17.967%2C16.970%2017.035%2C17.780%2016.468%2C18.119%20C16.156%2C18.307%2015.830%2C18.405%2015.501%2C18.409%20C15.095%2C18.566%2014.393%2C18.718%2013.486%2C18.718%20C11.417%2C18.718%208.180%2C17.965%204.509%2C14.375%20C2.200%2C12.115%200.758%2C9.680%200.223%2C7.137%20C-0.160%2C5.320%200.048%2C3.985%200.164%2C3.468%20C0.143%2C3.109%200.230%2C2.745%200.419%2C2.407%20C0.741%2C1.818%201.495%2C0.867%201.967%2C0.458%20C2.817%2C-0.281%203.717%2C-0.170%204.387%2C0.752%20L7.244%2C4.690%20C7.749%2C5.396%207.615%2C6.381%206.947%2C6.889%20L5.520%2C7.982%20C5.466%2C8.025%205.408%2C8.059%205.350%2C8.087%20C5.395%2C8.613%205.875%2C9.643%207.822%2C11.608%20C9.271%2C13.072%2010.241%2C13.349%2010.677%2C13.388%20C10.703%2C13.304%2010.741%2C13.220%2010.797%2C13.140%20L11.831%2C11.662%20C12.121%2C11.254%2012.592%2C11.014%2013.094%2C11.014%20C13.415%2C11.014%2013.725%2C11.111%2013.992%2C11.295%20L17.977%2C14.051%20C18.452%2C14.379%2018.714%2C14.750%2018.778%2C15.187%20C18.840%2C15.615%2018.695%2C16.053%2018.347%2C16.488%20ZM17.186%2C15.221%20L13.201%2C12.465%20C13.125%2C12.413%2013.014%2C12.427%2012.972%2C12.486%20L12.024%2C13.842%20C12.024%2C13.852%2012.024%2C13.861%2012.024%2C13.871%20C12.023%2C13.964%2012.018%2C14.050%2012.010%2C14.108%20C11.978%2C14.324%2011.850%2C14.513%2011.662%2C14.620%20C11.395%2C14.773%209.705%2C15.515%206.830%2C12.611%20C4.457%2C10.215%203.604%2C8.575%204.065%2C7.295%20C3.756%2C7.073%203.425%2C6.799%203.265%2C6.550%20C3.160%2C6.386%203.205%2C6.167%203.368%2C6.060%20C3.530%2C5.953%203.747%2C6.000%203.853%2C6.163%20C3.969%2C6.344%204.303%2C6.605%204.626%2C6.826%20C4.640%2C6.823%204.652%2C6.820%204.668%2C6.817%20C4.689%2C6.813%204.714%2C6.809%204.737%2C6.804%20L6.102%2C5.758%20C6.156%2C5.717%206.170%2C5.609%206.110%2C5.525%20L3.257%2C1.591%20C3.168%2C1.469%203.107%2C1.418%203.079%2C1.398%20C3.049%2C1.410%202.984%2C1.444%202.881%2C1.534%20C2.540%2C1.829%201.882%2C2.662%201.643%2C3.098%20C1.577%2C3.217%201.553%2C3.318%201.567%2C3.415%20C1.581%2C3.509%201.576%2C3.605%201.552%2C3.697%20C1.429%2C4.172%200.498%2C8.476%205.484%2C13.356%20C8.994%2C16.788%2012.004%2C17.301%2013.486%2C17.301%20C13.795%2C17.301%2014.057%2C17.279%2014.278%2C17.249%20C14.048%2C17.120%2013.845%2C16.974%2013.719%2C16.814%20C13.598%2C16.662%2013.623%2C16.438%2013.774%2C16.316%20C13.925%2C16.194%2014.145%2C16.219%2014.267%2C16.372%20C14.426%2C16.573%2014.952%2C16.814%2015.443%2C16.990%20C15.445%2C16.990%2015.447%2C16.989%2015.449%2C16.989%20C15.570%2C16.985%2015.652%2C16.961%2015.751%2C16.900%20C16.175%2C16.647%2016.974%2C15.955%2017.254%2C15.601%20C17.340%2C15.492%2017.372%2C15.425%2017.383%2C15.394%20C17.363%2C15.367%2017.310%2C15.307%2017.186%2C15.221%20ZM17.804%2C10.150%20C17.783%2C10.153%2017.762%2C10.155%2017.742%2C10.155%20C17.575%2C10.155%2017.428%2C10.035%2017.397%2C9.864%20C16.652%2C5.710%2013.544%2C2.398%209.478%2C1.426%20C9.289%2C1.381%209.173%2C1.190%209.217%2C1.000%20C9.262%2C0.809%209.451%2C0.693%209.639%2C0.736%20C13.977%2C1.773%2017.292%2C5.306%2018.087%2C9.737%20C18.122%2C9.930%2017.995%2C10.115%2017.804%2C10.150%20ZM15.342%2C9.550%20C15.400%2C9.736%2015.296%2C9.935%2015.112%2C9.993%20C15.077%2C10.004%2015.042%2C10.009%2015.007%2C10.009%20C14.858%2C10.009%2014.719%2C9.912%2014.673%2C9.760%20C13.830%2C7.023%2011.708%2C4.890%208.997%2C4.053%20C8.811%2C3.995%208.707%2C3.798%208.764%2C3.610%20C8.820%2C3.423%209.016%2C3.316%209.201%2C3.375%20C12.135%2C4.280%2014.431%2C6.589%2015.342%2C9.550%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 0 0 no-repeat; }
  .phone-block-wr .site-phone .s2 {
    width: 180px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    font-family: Tahoma, Verdana, Segoe, sans-serif; }
  .phone-block-wr .site-adres {
    text-align: left;
    float: left;
    font-size: 14px;
    font-family: Tahoma, Verdana, Segoe, sans-serif; }
  .phone-block-wr .site-adres .s1 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 41px;
    height: 41px;
    background-color: #4e395d;
    -webkit-border-radius : 4px;
    -moz-border-radius : 4px;
    -ms-border-radius : 4px;
    -o-border-radius : 4px;
    border-radius : 4px;
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #4a3658), color-stop(100%, #523c62));
    background-image: -o-linear-gradient(bottom, #4a3658 0%, #523c62 100%);
    background-image: -moz-linear-gradient(bottom, #4a3658 0%, #523c62 100%);
    background-image: -webkit-linear-gradient(bottom, #4a3658 0%, #523c62 100%);
    background-image: -ms-linear-gradient(bottom, #4a3658 0%, #523c62 100%);
    background-image: linear-gradient(to top, #4a3658 0%, #523c62 100%);
    -pie-background: linear-gradient(to top, #4a3658 0%, #523c62 100%); }
    .phone-block-wr .site-adres .s1::before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 19px;
      height: 19px;
      margin: -9px 0 0 -9px;
      background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2218px%22%20height%3D%2222px%22%20%20viewBox%3D%220%200%2018%2022%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23edf0ee%22%20d%3D%22M18.633%2C18.791%20C18.505%2C18.896%2018.347%2C18.950%2018.189%2C18.950%20C18.082%2C18.950%2017.975%2C18.926%2017.876%2C18.876%20L13.976%2C16.921%20L9.730%2C18.886%20C9.544%2C18.971%209.330%2C18.971%209.144%2C18.886%20L4.898%2C16.921%20L0.998%2C18.876%20C0.751%2C19.000%200.455%2C18.967%200.241%2C18.791%20C0.028%2C18.615%20-0.063%2C18.331%200.010%2C18.064%20L2.110%2C10.343%20C2.171%2C10.120%202.338%2C9.941%202.556%2C9.865%20L5.232%2C8.931%20C5.001%2C8.494%204.783%2C8.047%204.586%2C7.593%20C4.251%2C6.893%204.078%2C6.125%204.078%2C5.322%20C4.078%2C2.387%206.474%2C-0.000%209.419%2C-0.000%20C12.364%2C-0.000%2014.760%2C2.387%2014.760%2C5.322%20C14.760%2C6.113%2014.584%2C6.880%2014.239%2C7.604%20C14.046%2C8.047%2013.834%2C8.484%2013.611%2C8.911%20L16.320%2C9.866%20C16.538%2C9.942%2016.703%2C10.121%2016.764%2C10.343%20L18.864%2C18.064%20C18.937%2C18.331%2018.846%2C18.615%2018.633%2C18.791%20ZM14.059%2C5.322%20C14.059%2C2.775%2011.978%2C0.702%209.419%2C0.702%20C6.860%2C0.702%204.778%2C2.775%204.778%2C5.322%20C4.778%2C6.019%204.928%2C6.684%205.223%2C7.301%20C6.486%2C10.204%208.681%2C12.948%209.435%2C13.847%20C10.180%2C12.946%2012.343%2C10.205%2013.602%2C7.313%20C13.907%2C6.673%2014.059%2C6.007%2014.059%2C5.322%20ZM15.510%2C11.068%20L12.913%2C10.153%20C11.436%2C12.626%209.791%2C14.516%209.700%2C14.620%20C9.633%2C14.696%209.538%2C14.744%209.437%2C14.739%20C9.337%2C14.739%209.242%2C14.696%209.176%2C14.622%20C9.084%2C14.518%207.423%2C12.640%205.935%2C10.173%20L3.364%2C11.069%20L1.773%2C16.918%20L4.573%2C15.515%20C4.763%2C15.420%204.986%2C15.416%205.179%2C15.505%20L9.437%2C17.475%20L13.695%2C15.505%20C13.888%2C15.416%2014.111%2C15.420%2014.301%2C15.515%20L17.101%2C16.918%20L15.510%2C11.068%20ZM9.419%2C7.803%20C8.022%2C7.803%206.885%2C6.663%206.885%2C5.263%20C6.885%2C3.863%208.022%2C2.723%209.419%2C2.723%20C10.816%2C2.723%2011.952%2C3.863%2011.952%2C5.263%20C11.952%2C6.663%2010.816%2C7.803%209.419%2C7.803%20ZM9.419%2C3.425%20C8.408%2C3.425%207.586%2C4.249%207.586%2C5.263%20C7.586%2C6.276%208.408%2C7.101%209.419%2C7.101%20C10.430%2C7.101%2011.252%2C6.276%2011.252%2C5.263%20C11.252%2C4.249%2010.430%2C3.425%209.419%2C3.425%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 0 0 no-repeat; }
  .phone-block-wr .site-adres .s2 {
    width: 192px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-size: 14px;
    font-family: Tahoma, Verdana, Segoe, sans-serif; }

.top-navigation-wrap {
  padding: 0 42px;
  margin-bottom: 20px; }
  .top-navigation-wrap .top-navigation-in {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    min-height: 60px;
    border-radius : 4px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to top, #702b79 0%, rgb(47, 137, 165) 100%);}
  .top-navigation-wrap .top-navigation-in.opened {
    -webkit-border-radius : 4px 4px 4px 0;
    -moz-border-radius : 4px 4px 4px 0;
    -ms-border-radius : 4px 4px 4px 0;
    -o-border-radius : 4px 4px 4px 0;
    border-radius : 4px 4px 4px 0; }
  .top-navigation-wrap .top-categor-wr, .top-navigation-wrap .regid-block, .top-navigation-wrap .left-menu {
    display: none; }

.top-menu {
  padding: 20px 66px 0 4px;
  margin: 0;
  list-style: none;
  font-size: 0; }
  .top-menu li {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 20px; }
  .top-menu li a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    text-decoration: none; }
    .top-menu li a:hover {
      text-decoration: underline; }
  .top-menu.mobile ul {
    position: static;
    display: block !important;
    margin: 0;
    padding: 0 0 0 15px;
    background: none; }
    .top-menu.mobile ul li a {
      padding-top: 0; }
  .top-menu ul {
    display: none;
    margin: 10px 0 0 20px;
    padding: 15px;
    position: absolute;
    width: 190px;
    background: #ffc000;
    border-radius: 5px;
    z-index: 30; }

.search-block-wr {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 42px;
  height: 42px;
  margin-top: -21px; }
  .search-block-wr .search-btn {
    position: relative;
    display: block;
    width: 42px;
    height: 42px;
    background-color: #ffc000;
    -webkit-border-radius : 4px;
    -moz-border-radius : 4px;
    -ms-border-radius : 4px;
    -o-border-radius : 4px;
    border-radius : 4px;
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #ffc000), color-stop(100%, #ffc000));
    background-image: -o-linear-gradient(bottom, #ffc000 0%, #ffc000 100%);
    background-image: -moz-linear-gradient(bottom, #ffc000 0%, #ffc000 100%);
    background-image: -webkit-linear-gradient(bottom, #ffc000 0%, #ffc000 100%);
    background-image: -ms-linear-gradient(bottom, #ffc000 0%, #ffc000 100%);
    background-image: linear-gradient(to top, #ffc000 0%, #ffc000 100%);
    -pie-background: linear-gradient(to top, #ffc000 0%, #ffc000 100%); }
  .search-block-wr .search-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20%20viewBox%3D%220%200%2016%2016%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M15.533%2C15.533%20C14.947%2C16.119%2013.997%2C16.119%2013.412%2C15.533%20L10.764%2C12.885%20C9.676%2C13.583%208.389%2C14.000%207.000%2C14.000%20C3.134%2C14.000%20-0.000%2C10.866%20-0.000%2C7.000%20C-0.000%2C3.134%203.134%2C-0.000%207.000%2C-0.000%20C10.866%2C-0.000%2014.000%2C3.134%2014.000%2C7.000%20C14.000%2C8.389%2013.583%2C9.675%2012.886%2C10.764%20L15.533%2C13.411%20C16.119%2C13.997%2016.119%2C14.947%2015.533%2C15.533%20ZM7.000%2C2.000%20C4.238%2C2.000%202.000%2C4.238%202.000%2C7.000%20C2.000%2C9.761%204.238%2C12.000%207.000%2C12.000%20C9.761%2C12.000%2012.000%2C9.761%2012.000%2C7.000%20C12.000%2C4.238%209.761%2C2.000%207.000%2C2.000%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 0 0 no-repeat; }
  .search-block-wr .search-btn.opened {
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2212px%22%20height%3D%2212px%22%20%20viewBox%3D%220%200%2012%2012%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%20%20%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M12.166%2C11.459%20L11.459%2C12.166%20C11.264%2C12.361%2010.947%2C12.361%2010.752%2C12.166%20L6.132%2C7.546%20L1.712%2C11.967%20C1.523%2C12.156%201.217%2C12.156%201.028%2C11.967%20L0.345%2C11.283%20C0.156%2C11.094%200.156%2C10.788%200.345%2C10.599%20L4.765%2C6.179%20L0.145%2C1.559%20C-0.050%2C1.364%20-0.050%2C1.048%200.145%2C0.852%20L0.853%2C0.145%20C1.048%2C-0.050%201.364%2C-0.050%201.560%2C0.145%20L6.179%2C4.765%20L10.600%2C0.344%20C10.789%2C0.156%2011.095%2C0.156%2011.283%2C0.344%20L11.967%2C1.028%20C12.156%2C1.217%2012.156%2C1.523%2011.967%2C1.712%20L7.547%2C6.132%20L12.166%2C10.752%20C12.361%2C10.947%2012.361%2C11.264%2012.166%2C11.459%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 21px 50% no-repeat;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .search-block-wr .search-btn.opened::before {
      display: none; }

.site-container {
  position: relative;
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 42px 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.site-main {
  float: left;
  width: 100%; }

.site-main > .site-main-inner {
  padding-left: 20px;
  margin-left: 220px; }

.main-slider {
  line-height: 0;
  font-size: 0;
  max-width: 940px;
  max-height: 425px;
  margin-bottom: 77px; }
  .main-slider .slider-img {
    position: relative;
    width: 100%;
    text-align: center; }
  .main-slider .slider-img img {
    display: inline-block;
    max-width: 100%;
    height: auto; }
  .main-slider .slider-img:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: '';
    background-color: #fff; }
  .main-slider .owl-stage-outer {
    background-color: #fff;
    -webkit-border-radius : 4px;
    -moz-border-radius : 4px;
    -ms-border-radius : 4px;
    -o-border-radius : 4px;
    border-radius : 4px; }
  .main-slider .owl-prev, .main-slider .owl-next {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 43px;
    height: 43px;
    margin-top: -21px;
    background-color: rgba(250, 250, 250, 0.5);
    -webkit-border-radius : 50%;
    -moz-border-radius : 50%;
    -ms-border-radius : 50%;
    -o-border-radius : 50%;
    border-radius : 50%; }
  .main-slider .owl-prev::after, .main-slider .owl-next::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%228px%22%20height%3D%2214px%22%20%20viewBox%3D%220%200%208%2014%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20d%3D%22M7.855%2C13.101%20L7.356%2C13.619%20C7.080%2C13.906%206.633%2C13.906%206.358%2C13.619%20L0.605%2C7.758%20C0.531%2C7.681%200.480%2C7.591%200.446%2C7.495%20L0.186%2C7.225%20C-0.094%2C6.934%20-0.094%2C6.462%200.186%2C6.171%20L6.047%2C0.197%20C6.327%2C-0.094%206.781%2C-0.094%207.061%2C0.197%20L7.568%2C0.724%20C7.848%2C1.015%207.848%2C1.486%207.568%2C1.778%20L2.666%2C6.775%20L7.855%2C12.062%20C7.903%2C12.410%207.906%2C12.874%207.855%2C13.101%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 50% 50% no-repeat; }
  .main-slider .owl-prev {
    left: 20px; }
  .main-slider .owl-next {
    right: 20px; }
  .main-slider .owl-next::after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  .main-slider .owl-dots {
    position: absolute;
    bottom: -37px;
    font-size: 0;
    left: 0;
    right: 0;
    text-align: center; }
  .main-slider .owl-dots .owl-dot {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    width: 17px;
    height: 17px;
    background: rgba(63, 63, 63, 0.2);
    -webkit-border-radius : 50%;
    -moz-border-radius : 50%;
    -ms-border-radius : 50%;
    -o-border-radius : 50%;
    border-radius : 50%; }
    .main-slider .owl-dots .owl-dot.active {
      background: #dc5b3e; }

.site-sidebar {
  position: relative; }

.site-sidebar.left {
  width: 220px;
  float: left;
  margin-left: -100%;
  padding-bottom: 50px; }

.left-categor-wr {
  margin-bottom: 20px;
  background-color: #fff;
  border: 2px solid #4e395d;
  border-radius : 4px; }


#page {
  width: 1178px;
  height: 1100px;
  margin: auto;
    
  /* background-color: #b94848; */
}  
#sidebar {
  position: relative;
  /* max-width: 1180px; */
  margin: 0 auto;
  float: left;
  /* margin-left: 20px; */
  width: 280px; 
  /*height: 1100px;
  margin-bottom: 30px;
  padding: 0px 0px 0px 0px;*/
  background-color: #d4f5da;
}

#content {
  float: right;
  width: 898px;
  height: 1100px;
  margin-bottom: 30px;
  padding: 0px 0px 0px 0px;
  /* background-color: #74fa8a; */
}

.left-categor-title {
  position: relative;
  height: 58px;
  padding: 0 19px;
  font-size: 18px;
  line-height: 55px;
  font-weight: bold;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, #e03131 0%, #76a571 70%);}
  .left-categor-title .s1 {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 19px;
    content: '';
    height: 19px;
    width: 18px;
    margin-top: -12px; }
  .left-categor-title .s1 .s2 {
    position: absolute;
    display: inline-block;
    top: 2px;
    right: 0;
    width: 18px;
    height: 3px;
    content: '';
    background: #fff; }
  .left-categor-title .s1::before {
    position: absolute;
    top: 8px;
    right: 0;
    width: 18px;
    height: 3px;
    content: '';
    background-color: #fff; }
  .left-categor-title .s1::after {
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 18px;
    height: 3px;
    content: '';
    background-color: #fff; }
  .left-categor-title:hover > .s1 .s2 {
    top: 0; }
    .left-categor-title:hover > .s1::after {
      bottom: 0; }

.left-categor {
  padding: 0;
  margin: 0;
  list-style: none; }
  .left-categor > li {
    position: relative;
    border-top: 1px solid #e1e1e1; }
  .left-categor > li:first-child {
    border: none; }
  .left-categor > li > a {
    display: block;
    position: relative;
    padding: 17px 40px 16px 13px;
    font-size: 15px;
    font-weight: bold;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-decoration: none;
    color: #34383a;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease; }
    .left-categor > li > a:hover {
      color: #dc5b3e; }
  .left-categor > li > .s1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: block;
    content: '';
    width: 35px;
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%20height%3D%2214px%22%20%20viewBox%3D%220%200%2014%2014%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23dc5b3e%22%20d%3D%22M13.500%2C8.000%20L8.000%2C8.000%20L8.000%2C13.500%20C8.000%2C13.776%207.776%2C14.000%207.500%2C14.000%20L6.500%2C14.000%20C6.224%2C14.000%206.000%2C13.776%206.000%2C13.500%20L6.000%2C8.000%20L0.500%2C8.000%20C0.224%2C8.000%20-0.000%2C7.776%20-0.000%2C7.500%20L-0.000%2C6.500%20C-0.000%2C6.224%200.224%2C6.000%200.500%2C6.000%20L6.000%2C6.000%20L6.000%2C0.500%20C6.000%2C0.224%206.224%2C-0.000%206.500%2C-0.000%20L7.500%2C-0.000%20C7.776%2C-0.000%208.000%2C0.224%208.000%2C0.500%20L8.000%2C6.000%20L13.500%2C6.000%20C13.776%2C6.000%2014.000%2C6.224%2014.000%2C6.500%20L14.000%2C7.500%20C14.000%2C7.776%2013.776%2C8.000%2013.500%2C8.000%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 0 20px no-repeat; }
  .left-categor > li.opened > a {
    color: #dc5b3e; }
    .left-categor > li.opened > .s1 {
      background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%20height%3D%2214px%22%20%20viewBox%3D%220%200%2014%2014%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Crect%20fill%3D%22%23dc5b3e%22%20width%3D%2214%22%20height%3D%222%22%20rx%3D%220.5%22%20ry%3D%220.5%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 0 26px no-repeat; }
    .left-categor > li.opened ul li a {
      color: #373737; }
      .left-categor > li.opened ul li a:hover {
        color: #fff; }
    .left-categor > li.opened ul ul li a:hover {
      color: #373737; }
  .left-categor li.opened > ul {
    display: block; }
  .left-categor ul {
    display: none;
    position: relative;
    padding: 2px 0 5px;
    margin: 0 0 -1px;
    list-style: none;
    background: #edf0ee; }
  .left-categor ul li a {
    position: relative;
    display: block;
    padding: 8px 0 9px 33px;
    font-size: 15px;
    color: #373737;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    .left-categor ul li a::before {
      position: absolute;
      top: 50%;
      left: 17px;
      content: '';
      width: 4px;
      height: 4px;
      margin-top: -2px;
      background-color: #dc5b3e;
      -webkit-border-radius : 50%;
      -moz-border-radius : 50%;
      -ms-border-radius : 50%;
      -o-border-radius : 50%;
      border-radius : 50%; }
    .left-categor ul li a:hover {
      color: #fff;
      background-color: #dc5b3e; }
      .left-categor ul li a:hover::before {
        background-color: #fff; }
  .left-categor ul ul {
    padding-left: 10px; }
    .left-categor ul ul li a {
      color: #373737; }
      .left-categor ul ul li a:hover {
        background: none;
        text-decoration: underline; }
      .left-categor ul ul li a:hover::before {
        background-color: #dc5b3e; }

.left-categor > li > .s1 {
  max-height: 50px; }
  .left-categor > li > ul > li > a:hover ~ span {
    background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%20height%3D%2214px%22%20%20viewBox%3D%220%200%2014%2014%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M13.500%2C8.000%20L8.000%2C8.000%20L8.000%2C13.500%20C8.000%2C13.776%207.776%2C14.000%207.500%2C14.000%20L6.500%2C14.000%20C6.224%2C14.000%206.000%2C13.776%206.000%2C13.500%20L6.000%2C8.000%20L0.500%2C8.000%20C0.224%2C8.000%20-0.000%2C7.776%20-0.000%2C7.500%20L-0.000%2C6.500%20C-0.000%2C6.224%200.224%2C6.000%200.500%2C6.000%20L6.000%2C6.000%20L6.000%2C0.500%20C6.000%2C0.224%206.224%2C-0.000%206.500%2C-0.000%20L7.500%2C-0.000%20C7.776%2C-0.000%208.000%2C0.224%208.000%2C0.500%20L8.000%2C6.000%20L13.500%2C6.000%20C13.776%2C6.000%2014.000%2C6.224%2014.000%2C6.500%20L14.000%2C7.500%20C14.000%2C7.776%2013.776%2C8.000%2013.500%2C8.000%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 0 50% no-repeat; }
    .left-categor > li > ul > li.opened > a:hover ~ span {
      background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%20height%3D%222px%22%20%20viewBox%3D%220%200%2014%202%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Crect%20fill%3D%22%23fff%22%20width%3D%2214%22%20height%3D%222%22%20rx%3D%220.5%22%20ry%3D%220.5%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 0 50% no-repeat; }
    .left-categor > li > ul li {
      position: relative; }
    .left-categor > li > ul li .s1 {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      cursor: pointer;
      display: block;
      width: 35px;
      max-height: 35px;
      background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%20height%3D%2214px%22%20%20viewBox%3D%220%200%2014%2014%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23dc5b3e%22%20d%3D%22M13.500%2C8.000%20L8.000%2C8.000%20L8.000%2C13.500%20C8.000%2C13.776%207.776%2C14.000%207.500%2C14.000%20L6.500%2C14.000%20C6.224%2C14.000%206.000%2C13.776%206.000%2C13.500%20L6.000%2C8.000%20L0.500%2C8.000%20C0.224%2C8.000%20-0.000%2C7.776%20-0.000%2C7.500%20L-0.000%2C6.500%20C-0.000%2C6.224%200.224%2C6.000%200.500%2C6.000%20L6.000%2C6.000%20L6.000%2C0.500%20C6.000%2C0.224%206.224%2C-0.000%206.500%2C-0.000%20L7.500%2C-0.000%20C7.776%2C-0.000%208.000%2C0.224%208.000%2C0.500%20L8.000%2C6.000%20L13.500%2C6.000%20C13.776%2C6.000%2014.000%2C6.224%2014.000%2C6.500%20L14.000%2C7.500%20C14.000%2C7.776%2013.776%2C8.000%2013.500%2C8.000%20Z%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 0 50% no-repeat; }
    .left-categor > li > ul li.opened > .s1 {
      background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%20height%3D%222px%22%20%20viewBox%3D%220%200%2014%202%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Crect%20fill%3D%22%23dc5b3e%22%20width%3D%2214%22%20height%3D%222%22%20rx%3D%220.5%22%20ry%3D%220.5%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E') 0 50% no-repeat; }

.left-menu {
  padding: 3px 1px 6px;
  margin: 0 0 20px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  -webkit-border-radius : 4px;
  -moz-border-radius : 4px;
  -ms-border-radius : 4px;
  -o-border-radius : 4px;
  border-radius : 4px; }
  .left-menu > li {
    border-top: 1px solid #e1e1e1; }
  .left-menu > li:first-child {
    border: none; }
  .left-menu > li > a {
    display: block;
    padding: 8px 15px 10px 14px;
    color: #383838;
    font-size: 14px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .left-menu > li > a:hover {
      color: #dc5b3e; }
  .left-menu ul {
    padding: 0 0 10px 20px;
    margin: 0;
    list-style: none; }
  .left-menu ul li a {
    display: block;
    padding: 5px 15px;
    color: #383838;
    font-size: 12px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .left-menu ul li a:hover {
      color: #dc5b3e; }

.edit-block-wr {
  margin-bottom: 20px;
  background-color: #fff;
  border: 2px solid #ffc000;
  -webkit-border-radius : 4px;
  -moz-border-radius : 4px;
  -ms-border-radius : 4px;
  -o-border-radius : 4px;
  border-radius : 4px; }
  .edit-block-wr .edit-block-title {
    position: relative;
    padding: 15px 10px 21px 19px;
    font-size: 18px;
    font-weight: bold;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #3f3f3f;
    background-color: #ffc000;
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #ffba00), color-stop(100%, #ffc600));
    background-image: -o-linear-gradient(bottom, #ffba00 0%, #ffc600 100%);
    background-image: -moz-linear-gradient(bottom, #ffba00 0%, #ffc600 100%);
    background-image: -webkit-linear-gradient(bottom, #ffba00 0%, #ffc600 100%);
    background-image: -ms-linear-gradient(bottom, #ffba00 0%, #ffc600 100%);
    background-image: linear-gradient(to top, #ffba00 0%, #ffc600 100%);
    -pie-background: linear-gradient(to top, #ffba00 0%, #ffc600 100%); }
  .edit-block-wr .edit-block-body {
    padding: 20px 5px 31px 20px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px; }

.site-sidebar.left {
  width: 220px;
  float: left;
  margin-left: -100%;
  padding-bottom: 50px; }

.site-sidebar.right {
  float: right;
  width: 220px;
  margin-left: -220px; }

.product-similar-wrap {
  border: 2px solid #ffc000;
  -webkit-border-radius : 4px;
  -moz-border-radius : 4px;
  -ms-border-radius : 4px;
  -o-border-radius : 4px;
  border-radius : 4px; }
  .product-similar-wrap .title {
    font: bold 18px Tahoma, Verdana, Segoe, sans-serif;
    padding: 20px 21px;
    background-color: #ffc000;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #ffbd00), color-stop(100%, #ffc300));
    background-image: -o-linear-gradient(bottom, #ffbd00 0%, #ffc300 100%);
    background-image: -moz-linear-gradient(bottom, #ffbd00 0%, #ffc300 100%);
    background-image: -webkit-linear-gradient(bottom, #ffbd00 0%, #ffc300 100%);
    background-image: -ms-linear-gradient(bottom, #ffbd00 0%, #ffc300 100%);
    background-image: linear-gradient(to top, #ffbd00 0%, #ffc300 100%);
    -pie-background: linear-gradient(to top, #ffbd00 0%, #ffc300 100%);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1); }

.shop-kind-item-similar {
  display: inline-block;
  padding: 30px 18px;
  border-bottom: 1px solid #e1e1e1; }
  .shop-kind-item-similar .kind-image {
    line-height: 0;
    margin-bottom: 10px; }
  .shop-kind-item-similar .kind-image img {
    width: 100%;
    height: auto; }
  .shop-kind-item-similar .kind-image .no-image {
    background: #e6e6e6 url("/g/shop2v2/default/images/noimage.png") 50% 50% no-repeat; }
  .shop-kind-item-similar .kind-name {
    margin-bottom: 5px; }
  .shop-kind-item-similar .kind-name a {
    font: bold 15px/10px Tahoma, Verdana, Segoe, sans-serif;
    text-decoration: none; }

